{% extends 'admin_lte/page.html' %}

{% load static %}

{% block title %}
PIBID | Simulações Físicas
{% endblock %}

{% block description %}
{% endblock %}

{% block keywords %}
{% endblock %}

<!-- bloco opcional style -->
{% block style %}

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<style>
    section {
        font-size: 10pt;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
    integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}
<!-- fim do bloco -->

{% block breadcrumb %}
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Simulação - Lançamento de Projéteis</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">PIBID</li>
                    <li class="breadcrumb-item"><a href="#">Simulações</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="content">
    <div class="container">

        <div class="card">
            <div class="overlay dark d-none">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md bg-light">
                        <!--  -->
                        <form method="get">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="velocidade">Velocidade (m/s)</label>
                                <input type="number" name="velocidade" step="0.1" value="{{velocidade}}"
                                    class="form-control" id="velocidade">
                            </div>
                            <div class="form-group">
                                <label for="angulo">Ângulo (graus)</label>
                                <input type="number" name="angulo" step="1" value="{{angulo}}" class="form-control"
                                    id="angulo">
                            </div>
                            <div class="form-group">
                                <label for="gravidade">Gravidade (m/s²)</label>
                                <input type="number" name="gravidade" step="0.1" value="{{gravidade}}"
                                    class="form-control" id="gravidade">
                            </div>
                            <button type="button" onclick="geraGraficoSimulacao()" class="btn btn-success">Simular
                                Lançamento <i class="bi bi-rocket-takeoff-fill"></i></button>
                        </form>
                    </div>

                    <div class="col-md">
                        <!-- Exibição do gráfico -->
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="altura-maxima">Altura Máxima</label>
                                <input type="text" class="form-control text-danger" id="altura-maxima"
                                    value="{{altura_maxima}}m" readonly>
                            </div>
                            <div class="form-group col-md">
                                <label for="alcance">Distância Total</label>
                                <input type="text" class="form-control text-danger" id="alcance" value="{{alcance}}m"
                                    readonly>
                            </div>
                            <div class="form-group col-md">
                                <label for="alcance">Tempo Total</label>
                                <input type="text" class="form-control text-danger" id="tempo_total"
                                    value="{{tempo_total}}s" readonly>
                            </div>
                        </div>
                        <img id="imagem_grafico" src="data:image/png;base64,{{ imagem_grafico }}"
                            alt="Trajetória do Projétil">
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md">
                        <div class="card card-primary card-outline card-outline-tabs">
                            <div class="card-header p-0 border-bottom-0">
                                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill"
                                            href="#custom-tabs-four-home" role="tab"
                                            aria-controls="custom-tabs-four-home" aria-selected="true">Fórmulas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill"
                                            href="#custom-tabs-four-profile" role="tab"
                                            aria-controls="custom-tabs-four-profile" aria-selected="false">Sugestão:
                                            Roteiro de Aula</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill"
                                            href="#custom-tabs-four-messages" role="tab"
                                            aria-controls="custom-tabs-four-messages" aria-selected="false">Código
                                            Fonte</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="custom-tabs-four-tabContent">
                                    <div class="tab-pane fade active show" id="custom-tabs-four-home" role="tabpanel"
                                        aria-labelledby="custom-tabs-four-home-tab">

                                        <h5>Fórmulas do Lançamento de Projétil</h5>
                                        <div>
                                            <!-- Fórmula da Altura Máxima -->
                                            <p>Altura máxima (\( h_{\text{max}} \)):</p>
                                            \[
                                            h_{\text{max}} = \frac{v_0^2 \sin^2(\theta)}{2g}
                                            \]

                                            <!-- Fórmula do Alcance -->
                                            <p>Alcance (\( R \)):</p>
                                            \[
                                            R = \frac{v_0^2 \sin(2\theta)}{g}
                                            \]

                                            <!-- Fórmula do Tempo de Voo -->
                                            <p>Tempo total de voo (\( T \)):</p>
                                            \[
                                            T = \frac{2v_0 \sin(\theta)}{g}
                                            \]
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel"
                                        aria-labelledby="custom-tabs-four-profile-tab">

                                        <!--  -->
                                        <h4><i class="bi bi-pin-angle-fill"></i> ROTEIRO DE AULA: Simulação
                                            Computacional de Lançamento de Projéteis</h4>

                                        <ul>
                                            <li>Série: 2ª ou 3ª série do Ensino Médio</li>
                                            <li>Duração: 2 aulas (50 minutos cada)</li>
                                            <li>Área: Ciências da Natureza e suas Tecnologias</li>
                                            <li>Disciplina: Física</li>
                                        </ul>

                                        <h5>1. Tema da Aula:</h5>
                                        <p>Simulação Computacional de Lançamento de Projéteis: analisando altura e
                                            distância máxima.</p>

                                        <h5>2. Objetivos de Aprendizagem:</h5>
                                        <ul>
                                            <li>Compreender o movimento de projéteis sob ação da gravidade.</li>
                                            <li>Aplicar equações da cinemática em duas dimensões.</li>
                                            <li>Interpretar graficamente os resultados da simulação.</li>
                                            <li>Desenvolver habilidades de resolução de problemas com uso de tecnologia.
                                            </li>
                                        </ul>

                                        <h5>3. Habilidades da BNCC (Ciências da Natureza):</h5>
                                        <ul>
                                            <li>EM13CNT102 – Analisar e/ou simular o movimento de objetos com base em
                                                leis e princípios da mecânica clássica.</li>
                                            <li>EM13CNT103 – Resolver problemas com ou sem uso de tecnologias digitais,
                                                envolvendo movimentos de corpos.</li>
                                            <li>EM13CNT104 – Investigar e analisar movimentos utilizando linguagens
                                                matemáticas e computacionais.</li>
                                            <li>EM13CNT301 – Utilizar ferramentas computacionais para modelar
                                                situações-problema e interpretar dados.</li>
                                        </ul>

                                        <h5>4. Conteúdos Abordados:</h5>
                                        <ul>
                                            <li>Movimento oblíquo (2D)</li>
                                            <li>Componentes horizontal e vertical da velocidade</li>
                                            <li>Equações da cinemática</li>
                                        </ul>

                                        <h5>5. Metodologia:</h5>
                                        <h6>Aula 1: Contextualização e Fundamentos</h6>
                                        <ul>
                                            <li>Introdução ao movimento de projéteis: exemplos do cotidiano (futebol,
                                                arremesso, etc.).</li>
                                            <li>Apresentação das equações da cinemática em duas dimensões.</li>
                                            <li>Discussão: o que é simulação? Por que simular um fenômeno físico?</li>
                                            <li>Alunos, em duplas, fazem ajustes (velocidade, ângulo, gravidade) e
                                                observam resultados.</li>
                                        </ul>

                                        <h6>Aula 2: Exploração, Interpretação e Avaliação</h6>
                                        <ul>
                                            <li>Execução da simulação com diferentes valores.</li>
                                            <li>Análise de gráficos: altura x tempo, distância x tempo, trajetória.</li>
                                            <li>Discussão em grupo: como a simulação se aproxima da realidade?</li>
                                            <li>Apresentação de desafios (ex: "Qual ângulo dá maior alcance?")</li>
                                            <li>Encerramento com reflexão sobre o uso de programação como ferramenta
                                                científica.</li>
                                        </ul>

                                        <h5>6. Recursos Didáticos:</h5>
                                        <ul>
                                            <li>Computadores com acesso a internet</li>
                                            <li>Projetor multimídia</li>
                                            <li>Quadro branco</li>
                                            <li>Simulação Computacional de Lançamento de Projéteis</li>
                                        </ul>

                                        <h5>7. Avaliação:</h5>
                                        <ul>
                                            <li>Participação nas atividades e discussões.</li>
                                            <li>Resolução de um pequeno problema proposto no final da aula.</li>
                                            <li>Entrega de um breve relatório contendo:</li>
                                            <ul>
                                                <li>Print da simulação</li>
                                                <li>Análise dos resultados</li>
                                                <li>Reflexão sobre o que aprendeu</li>
                                            </ul>
                                        </ul>


                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel"
                                        aria-labelledby="custom-tabs-four-messages-tab">

                                        <h5>Google Collab Notebook</h5>

                                        <p>Acesse o código-fonte clicando no link abaixo:i</p>

                                        <a href="https://colab.research.google.com/drive/1hsV5OYdVdiFAHwrswDkR1uUm19UBdVAI?usp=sharing"
                                            target="_blank" rel="noopener">
                                            <img src="https://colab.research.google.com/assets/colab-badge.svg"
                                                alt="Abrir no Google Colab" />
                                        </a>



                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>


</div>
</div>

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
    integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
<script>
    //var selectLeague = $('#escola').selectize();
    //var selectSeason = $('#aplicador').selectize();

    function showOverLay() {
        const overlays = document.querySelectorAll('.overlay')

        overlays.forEach(function (overlay) {
            overlay.classList.remove('d-none')
        })
    }

    function hideOverLay() {
        const overlays = document.querySelectorAll('.overlay')

        overlays.forEach(function (overlay) {
            overlay.classList.add('d-none')
        })
    }

    async function geraGraficoSimulacao() {
        showOverLay()
        try {
            let query_params = '?velocidade=' + document.querySelector('#velocidade').value + '&angulo=' +
                document.querySelector('#angulo').value + '&gravidade=' +
                document.querySelector('#gravidade').value
            const request = await fetch("http://127.0.0.1:8000/api/lancamento-projetil/" + query_params)
            const response = await request.json()
            console.log(response)
            // 
            const grafico = document.querySelector('#imagem_grafico')
            grafico.src = "data:image/png;base64, " + response.imagem_grafico
            document.querySelector('#altura-maxima').value = response.altura_maxima + 'm'
            document.querySelector('#alcance').value = response.alcance + 'm'
            document.querySelector('#tempo_total').value = response.tempo_total + 's'
        } catch (error) {
            console.log(error)
        }
        hideOverLay()
    }

</script>

{% endblock %}